



.jumbotron{
     padding-top: 7rem ;
     background-color: #e3f2fe;
}

.jumbotron img{
     border-radius: 50%;
}

.jumbotron .lead{
     text-transform:capitalize;
     font-size: 2rem;
}


#projects{
     background-color: #e3f2fe;
}


footer a{
     text-decoration: none;
}


section{
     padding-top: 5.5rem;
}

.img-galery{
     width: 100%;
}